@tailwind base;
@tailwind components;
@tailwind utilities;


.flex-btw{
  display: flex;
  justify-content: space-between;
}

html{
  scroll-behavior: smooth;
}
.career-scrollbar{
  scrollbar-width: none;
}