@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-btw {
  display: flex;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
}
.career-scrollbar {
  scrollbar-width: none;
}
.filter-primary {
  filter: brightness(0) saturate(100%) invert(44%) sepia(74%) saturate(514%)
    hue-rotate(156deg) brightness(94%) contrast(89%);
}
